<!DOCTYPE html>
<html>
<head>
  <title>Favorites</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div id="container">
      <div id="nav">
        Language:
        <%= link_to_unless_current "English", locale: "en" %> |
        <%= link_to_unless_current "Español", locale: "es" %>
      </div>
    </div>

  <%= yield %>

  </body>
</html>
